﻿<section class="row">
    <img class="col-sm-6 col-xs-11 pull-left about-model" src="~/Content/Images/Home/about.png" />
    <div id="aboutus" class="container">
        <article class="col-sm-6 col-xs-12 about-content pull-right">
            <h2>Über Uns</h2>
            <p class="pera">
                Wir sind ein Multi-Shop-Unternehmen mit Sitz in Zürich. Unsere Produkte sind so vielfältig wie Ihre
                Wünsche: ob Wein, Ballon, Kugelschreiber oder Fahne, wir haben es verfügbar und liefern schnell
                und zuverlässig zu einem überzeugenden Preis-Leistungs-Verhältnis.
            </p>
            <p class="pera">
                Eine unserer Spezialitäten sind insbesondere terminierte und individualisierte Produkte. So können
                Sie auf www.grussfabrik.ch persönliche Weingrüsse mit individueller Widmung an Ihre Liebsten oder
                Kollegen versenden. Wir machen ́s möglich! Rufen Sie uns an oder schreiben Sie auf <a href="mailto:info@grussfabrik.ch" target="_top">info@grussfabrik.ch</a>
            </p>
        </article>
    </div>
</section>