﻿<div id="websites" class="marketing-zone">

    @*<section class="container shop">
        <article class="content-middle">
            <div class="col-xs-6 pull-left shop-desc">
                <a class="shop-link" href="http://grussfabrik.ch" target="_blank">
                    <h2><i class="icon-shop shop-1"></i><span>www.grussfabrik.ch</span></h2>
                </a>

                <p class="pera">
                    Auf grussfabrik.ch können Sie ausgewählte Top-Weine verschenken,
                    eine Dankes- oder Grusskarte gestalten und beides ganz bequem an Ihren Wunschempfänger senden lassen.
                    In 3 Minuten zu Ihrer perfekten Überraschung. Mehr Zeit für Sie und die schönen Dinge im Leben.
                </p>
            </div>
            <div class="col-xs-6 pull-right">
                <a class="shop-link" href="http://grussfabrik.ch" target="_blank">
                    <img class="shop-preview" src="~/Content/Images/Home/shop-grussfabrik-ch.png" />
                </a>
            </div>
        </article>
    </section>*@

    <section class="container shop">
        <article class="content-middle">
            <div class="col-xs-6 pull-left">
                <a class="shop-link" href="http://ballondruck24.ch" target="_blank">
                    <img class="shop-preview" src="~/Content/Images/Home/shop-ballondruck24-ch.png" />
                </a>
            </div>
            <div class="col-xs-6 pull-right shop-desc">
                <a class="shop-link" href="http://ballondruck24.ch" target="_blank">
                    <h2><i class="icon-shop shop-2"></i><span>www.ballondruck24.ch</span></h2>
                </a>
                <p class="pera">
                    Bedruckte Latexballone in 10 Werktagen produziert zum garantiert besten Preis der Schweiz.
                </p>
            </div>

        </article>
    </section>


    <section class="container shop">
        <article class="content-middle">
            <div class="col-xs-6 pull-left shop-desc">
                <a class="shop-link" href="http://kugelschreiberdruck.ch" target="_blank">
                    <h2><i class="icon-shop shop-3"></i><span>www.kugelschreiberdruck.ch</span></h2>
                </a>
                <p class="pera">
                    Mit modernsten Maschinen bedrucken wir in kürzester Zeit digital oder im Siebdruckverfahren Schaft und/oder Clip in bis zu 4 Farben.
                    Im Internet sehen alle Kugelschreiber gleich aus - aber halten Sie unsere in der Hand und Sie merken umgehend den Unterschied.
                </p>
            </div>
            <div class="col-xs-6 pull-right">
                <a class="shop-link" href="http://kugelschreiberdruck.ch" target="_blank">
                    <img class="shop-preview" src="~/Content/Images/Home/shop-kugelschreiberdruck-ch.png" />
                </a>
            </div>
        </article>
    </section>
   
    <section class="container shop">
        <article class="content-middle">
            <div class="col-xs-6 pull-left">
                <a class="shop-link" href="http://fahnendruck24.ch" target="_blank">

                    <img class="shop-preview" src="~/Content/Images/Home/shop-fahnendruck24-ch.png" />
                </a>
            </div>
            <div class="col-xs-6 pull-right shop-desc">
                <a class="shop-link" href="http://fahnendruck24.ch" target="_blank">

                    <h2><i class="icon-shop shop-4"></i><span>www.fahnendruck24.ch</span></h2>
                </a>
                <p class="pera">
                    Wir produzieren Fahnen und Beachflags zu einem unschlagbaren Preis-Leistungsverhältnis.
                </p>
            </div>

        </article>
    </section>

    <section class="container shop">
        <article class="content-middle">
            <div class="col-xs-6 pull-left shop-desc">
                <a class="shop-link" href="http://weinversand24.ch" target="_blank">

                    <h2><i class="icon-shop shop-5"></i><span>www.weinversand24.ch</span></h2>
                </a>
                <p class="pera">
                    Über 2000 Markenweine aus aller Welt. Tiefste Preise. Direkt zu Ihnen nach Hause geliefert.

                </p>
            </div>
            <div class="col-xs-6 pull-right">
                <a class="shop-link" href="http://weinversand24.ch" target="_blank">

                    <img class="shop-preview" src="~/Content/Images/Home/shop-weinversand24-ch.png" />
                </a>
            </div>
        </article>
    </section>
   
</div>