﻿<style>
    /* override position and transform in 3.3.x */
    .carousel-inner .item.left.active {
        transform: translateX(-33%);
    }

    .carousel-inner .item.right.active {
        transform: translateX(33%);
    }

    .carousel-inner .item.next {
        transform: translateX(33%);
    }

    .carousel-inner .item.prev {
        transform: translateX(-33%);
    }

    .carousel-inner .item.right,
    .carousel-inner .item.left {
        transform: translateX(0);
    }


    .carousel-control.left {
        background-image: url('../../Content/Images/Home/previous.png');
        background-repeat: no-repeat;
        background-position: center left;
    }

    .carousel-control.right {
        background-image: url('../../Content/Images/Home/next.png');
        background-repeat: no-repeat;
        background-position: center right;
    }

    .slider-header {
        margin-bottom: 50px;
    }

    @@media all and (min-width: 1025px) {
        .carousel-control.left {
            left: -90px;
        }

        .carousel-control.right {
            right: -90px;
        }
    }

    @@media all and (max-width: 1024px) {
        .carousel-inner {
            width: 80%;
            margin: 0 auto;
        }

        .carousel-control {
            background-size: 65%;
        }

        .carousel-inner .item > [class^="col-"] {
            padding: 3px;
        }
    }
</style>

<section class="team container">
    <div class="row">
        <h2 id="team" class="text-center slider-header">Unser Team</h2>
        <div class="carousel slide" id="TeamSlider">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="~/Content/Images/Home/tm-1.png" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#">
                            <img src="~/Content/Images/Home/tm-2.png" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#">
                            <img src="~/Content/Images/Home/tm-3.png" class="img-responsive">
                        </a>
                    </div>

                    <div class="col-xs-3">
                        <a href="#">
                            <img src="~/Content/Images/Home/tm-4.png" class="img-responsive">
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="col-xs-3">
                        <a href="#">
                            <img src="~/Content/Images/Home/tm-5.png" class="img-responsive">
                        </a>
                    </div>
                </div>

            </div>
            <a class="left carousel-control" href="#TeamSlider" data-slide="prev"></a>
            <a class="right carousel-control" href="#TeamSlider" data-slide="next"></a>
        </div>
    </div>
</section>
