﻿@{
    ViewBag.Title = "grussfabrik.com";
}

<header id="home" class="banner row">
    <img class="col-sm-6 col-xs-12 pull-right banner-model" src="~/Content/Images/Home/banner-model.png" />
    <div class="container home-content">
        <article class="banner-content col-sm-6 col-xs-12">
            <h2>
                Begeisterte Kunden in der Schweiz
            </h2>
            <h2 class="font-semi-bold head-2nd">
                Wir haben höchste Ansprüche an Qualität. Überzeigen Sie sich von unserer Auswahl. 
            </h2>
            <p class="pera">Wir sind ein Zürcher Unternehmen für individualisierbare Qualitätsprodukte wie Fahnen,
Kugelschreiber, Textilien oder Ballone. </p>
            <p class="pera banner-btn"><a href="/" class="btn btn-primary btn-lg">MEHR</a></p>
        </article>
    </div>
</header>

@Html.Partial("_About")

@Html.Partial("_Marketing")

@*@Html.Partial("_TeamSlider")*@

@Html.Partial("_ContactUs")
