﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(#fff 2%,#f7f8fc 90%,#fff);
    max-width: 1600px;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 31px;
    background: #fff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*#region ------------------------------------------------Fonts------------------------------------------------*/

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

* {
    font-family: Poppins-Regular;
    box-sizing: border-box;
}

.font-semi-bold {
    font-family: 'Poppins-SemiBold';
    word-spacing: -4px;
}
/*#endregion */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #121212 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #121212 !important;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #121212 !important;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #121212 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #121212 !important;
}

/*------------------------------------------------Custom------------------------------------------------*/
.icon-shop {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
}

.shop-1 {
    background-image: url(Images/Home/icon-shop1.png);
}

.shop-2 {
    background-image: url(Images/Home/icon-shop2.png);
}

.shop-3 {
    background-image: url(Images/Home/icon-shop3.png);
}

.shop-4 {
    background-image: url(Images/Home/icon-shop4.png);
}

.shop-5 {
    background-image: url(Images/Home/icon-shop5.png);
}

.pera {
    line-height: 1.6;
    font-size: 18px;
    font-family: Poppins-Light;
}

[class$="-model"] {
    padding: 0;
}

.btn {
    border-radius: 3px;
    border: none;
    color: white;
    padding: 14px 28px;
    background-color: #0a3580;
    font-family: Poppins-SemiBold;
    font-size: 16px;
}

    .btn:hover {
        color: white;
        background-color: #6587fe;
    }

.banner-btn {
    margin: 30px 0 80px 0;
}

article h2,
.slider-header {
    font-family: Poppins-Regular;
}

.nav > li > a {
    color: #212121;
    transition: all 0.4s ease-in-out;
}

.nav > li:last-child > a {
    padding-right: 0;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active > a {
    background: none;
}

.nav > li > a:hover,
.nav > li.active > a,
.footer-content .site-map a:hover {
    color: #0a3580;
}

.navbar .container {
    padding: 15px;
}

.navbar-white .navbar-toggle .icon-bar {
    background-color: #6587fe;
}

.navbar-white .navbar-toggle {
    border-color: #6587fe;
}

.navbar .logo img {
    padding: 8px 0;
    max-height: 45px;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-white {
    background-color: #fff;
    border-color: #ebebeb;
    color: #0a3580;
    font-size: 18px;
}

.banner {
    background-image: url('Images/Home/banner-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 490px;
}


.banner-model {
    padding-bottom: 5em;
}

.banner-content {
    padding: 0;
}

    .banner-content .head-2nd {
        margin-top: 12px;
        margin-bottom: 19px;
    }

.contact-content .form-container {
    margin-top: 50px;
}

.contact-content .form-group {
    margin-bottom: 16px;
}

.contact-content .form-control {
    border-radius: 3px;
    max-width: 475px;
    font-size: 16px;
}

.contact-content input {
    height: 45px;
}

.form-control:focus {
    border-color: #0a3580;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(101,94,254,0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(101,94,254,0.6);
}

.marketing-zone section {
    margin-bottom: 160px;
}

.shop-link {
    text-decoration: none;
    color: black;
}

    .shop-link:hover,
    .shop-link:focus,
    .shop-link:active,
    .shop-link:visited {
        text-decoration: none;
    }

[class^="shop-"] span {
    transition: all 0.3s;
    letter-spacing: -1px;
}

.shop-link:hover .shop-1 + span {
    color: #943143;
    text-shadow: 5px 0px 30px #c07e8a;
}

.shop-link:hover .shop-2 + span {
    color: #ed7256;
    text-shadow: 5px 0px 30px #f4a593;
}

.shop-link:hover .shop-3 + span {
    color: #67acdc;
    text-shadow: 5px 0px 30px #b6d9f1;
}

.shop-link:hover .shop-4 + span {
    color: #bb271a;
    text-shadow: 5px 0px 30px #e4b1ad;
}

.shop-link:hover .shop-5 + span {
    color: #c49360;
    text-shadow: 5px 0px 30px #e7ceb3;
}

.team.container {
    margin-bottom: 125px;
}

.shop .shop-desc {
    width: 56%;
    padding: 0;
}

.shop-preview {
    width: 100%;
    border-radius: 12px;
    margin: 20px;
    max-height: 352px;
    max-width: 477px;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.09);
    transition: all 0.4s;
}

    .shop-preview:hover {
        -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.2);
    }

.shop:nth-child(odd) .shop-preview {
    float: right;
}

footer {
    margin-top: 60px;
    color: #121212;
}

    footer hr {
        border-top: 1px solid #ebebeb;
    }

    footer p {
        line-height: 1.5;
        font-size: 16px;
    }

    footer strong {
        font-size: 18px;
    }

        footer strong + p {
            margin-top: 18px;
        }

.footer-logo img {
    max-height: 20px;
}

.copyright {
    margin-top: 60px;
}

.copyright-content {
    font-size: 14px;
}

.footer-content {
    margin-top: 42px;
}

    .footer-content > .about-info {
        padding-right: 115px;
    }

.about-info > p {
    line-height: 1.75;
}

.about-model {
    margin-top: -47px;
}

.about-content .pera:nth-of-type(2) {
    margin-top: 36px;
}

.footer-content .contact-info {
    padding: 0;
}

    .footer-content .contact-info .contact-hl {
        margin-top: 27px;
    }

.footer-content .site-map {
    padding: 0 10px;
    margin: 0px 70px 0 35px;
}

    .footer-content .site-map a {
        color: #000;
        text-decoration: none;
    }


/*#region ------------------------------------------------@Media------------------------------------------------*/
@media all and (min-width: 1025px) {
    .banner-content {
        padding: 105px 0;
    }

    .about-model {
        width: 42%;
        margin-bottom: -18px;
    }

    .about-content {
        width: 60%;
        padding: 6.9em 0 0 85px;
    }

    .contact-content {
        padding: 165px 75px 0 0;
    }
}

@media all and (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

@media all and (min-width: 1600px) {
    .container {
        max-width: 1231px;
    }
}

@media all and (min-width: 980px) and (max-width:1024px) {
    .about-content {
        padding: 3.5em 0 0 20px;
    }
}

@media all and (min-width: 801px) and (max-width: 980px) {
    .pera {
        font-size: 1.08em;
    }

    article h2,
    .slider-header,
    footer strong {
        font-size: 1.5em;
    }


    footer p {
        font-size: 1em;
    }

    .marketing-zone section {
        margin-bottom: 50px;
    }

    .footer-content .site-map {
        padding: 0 10px;
        margin: 0 45px;
    }
}

@media all and (max-width: 800px) {
    .pera {
        font-size: 1.3em;
    }

    article h2,
    .slider-header,
    footer strong {
        font-size: 1.5em;
    }

    .about-content {
        padding: 5px;
    }

    .banner-btn {
        margin: 10px 0;
    }

    .contact-content {
        padding: 0;
    }

    .marketing-zone section {
        margin-bottom: 100px;
    }

    .footer-content .site-map {
        margin: 0 30px;
    }
}

@media all and (max-width: 768px) {
    .banner {
        background-size: cover;
        background-position: -18px;
    }
}

@media all and (min-width: 640px) {
    .content-middle {
        display: flex;
        align-items: center;
    }

    .shop-preview {
        width: 85%;
    }
}

@media all and (min-width:641px) and (max-width: 980px) {
    section > [class$="-model"] {
        width: 47.5%;
    }

    .shop-preview {
        width: 85%;
    }

    .marketing-zone {
        margin-top: 50px;
    }
}

@media all and (max-width: 640px) {
    .banner {
        position: relative;
        background: rgba(101, 135, 254, 0.25);
        margin-bottom: 59px;
    }

    .banner-model {
        padding: 0;
        width: 96%;
    }

    .banner-content {
        padding: 60px 50px;
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(101, 134, 254, 0.30);
        color: white;
        text-shadow: 5px 0px 30px #0a3580;
    }

        .banner-content h2 {
            font-size: 2.5em;
        }

        .banner-content .pera {
            font-size: 1.2em;
        }


    .contact-content .form-control,
    .contact-content .btn {
        margin: 0 auto;
        display: block;
    }

    .contact-content h2 {
        text-align: center;
    }

    .marketing-zone section {
        padding: 0 5px;
    }

    .pera {
        font-size: 1em;
    }

    footer p {
        font-size: 1em;
    }

    article h2,
    .slider-header,
    footer strong {
        font-size: 1.3em;
    }

    .footer-content .site-map {
        margin: 0 20px;
    }

    .footer-content .contact-info {
        width: 50%;
        padding: 5px;
    }

    .footer-content > .about-info {
        padding-right: 20px;
    }
}

@media all and (max-width: 600px) {
    .banner {
        min-height: unset;
    }

    .banner-content {
        padding: 60px 50px;
    }

        .banner-content h2 {
            font-size: 1.8em;
        }

    .marketing-zone section {
        margin-bottom: 30px;
    }

    .shop {
        padding: 0;
    }

        .shop .content-middle [class^="col-xs-"] {
            width: 100%;
            float: none !important;
            padding: 5px !important;
        }

    footer > hr {
        margin-left: -10px;
        width: 104%;
    }

    .footer-content [class^="col-xs-"] {
        width: 100%;
        padding: 5px;
    }

        .footer-content [class^="col-xs-"] > article {
            padding: 10px 0;
            border-top: 2px solid #f7f8fc;
        }

    .footer-content .site-map {
        margin: 0;
    }

    .shop .content-middle {
        border-bottom: 2px solid #f7f8fc;
    }

    .shop .shop-preview {
        float: none !important;
        margin: 50px auto;
        display: block;
        width: 80%;
    }

    .copyright {
        margin-right: -10px;
        margin-left: -10px;
        margin-top: 25px;
    }
}

@media all and (max-width: 480px) {
    .copyright aside {
        float: left !important;
        margin: 5px 20px 0 0;
    }

     .marketing-zone section {
        padding: 0;
    }

    .footer-logo img {
        max-height: 18px;
    }
}

@media all and (max-width: 360px) {

    .home-content{
        min-height:280px;
    }
    .banner-content {
        padding: 10px 15px;
    }

        .banner-content h2 {
            font-size: 1.2em;
            margin: 10px 0;
        }

        .banner-content .pera {
            font-size: 1em;
        }

    .btn {
        font-size: 1em;
    }

    .banner-btn {
        margin: unset;
    }
}

@media all and (min-width:361px) and (max-width: 483px){

    .banner-content{
        padding:20px 32px;
    }
    .banner{
        min-height:340px !important;
    }
    .banner-content h2{
        font-size:1.4em;
    }
    .banner-content .pera {
        font-size:1em;
    }
}

@media all and (min-width:641px) and (max-width: 767px){

    #home{
        margin-bottom:40px;
    }
}

@media all and (min-width:981px) and (max-width: 1075px){

    article h2{
        font-size:1.6em;
    }

    .pera{
        font-size:1.17em;
    }
}

/*#endregion */


