﻿<section class="row">
    <img class="col-sm-6 col-xs-11 pull-right contact-model" src="~/Content/Images/Home/contact-us.png" />
    <div class="container">
        <article class="col-sm-6 col-xs-12 contact-content pull-left">
            <h2 id="contactus">Kontaktieren Sie Uns</h2>
            <div class="form-container">
                <form id="form_contact_us">
                    <div class="form-group">
                        <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Ihr Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="UserEmail" name="UserEmail" placeholder="Ihre Email" data-fv-emailaddress-message="Invalid email address" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" id="Body" name="Body" placeholder="Ihre Nachricht an uns" rows="7" required></textarea>
                    </div>
                    <button type="submit" id="Send" class="btn btn-default">ANFRAGE SENDEN</button>
                </form>
            </div>
        </article>
    </div>
</section>

<script>
window.onload = function () {
    var $ = jQuery;
    function SendMail() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendEMail", "ContactUs")',
            data: $('#form_contact_us').serialize(),
            dataType: "json",
            success: function (result) {
                (result.success) ? success() : error(result.erorr);
            },
            erorr: error,
        });

        var success = function () {
            alert('Your enquiry has been sent successfully...')
            $('#FullName, #UserEmail, #Body').val("");
        };
        var error = function (msg) {
            alert('Something went wrong...')
            console.log(msg);
        };
    }

    $("#form_contact_us").on("submit", function () {
        SendMail();
        return false;
    })
}
</script>


