﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-white navbar-fixed-top" id="scroll_tracker">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand logo js-scroll-trigger" href="#home">
                    <img src="~/Content/Images/logo.png" style="display: inline-block;">
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#aboutus">Über Uns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#websites">Unsere Webseiten</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Team</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contactus">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        <footer class="container">
        <hr />
            <div class="row footer-content">
                <section class="col-xs-6 about-info">
                    <strong>Über Uns</strong>
                    <p>
                        Wir sind ein Multi-Shop-Unternehmen mit Sitz in Zürich. Unsere Produkte sind so vielfältig wie Ihre
                        Wünsche: ob Wein, Ballon, Kugelschreiber oder Fahne, wir haben es verfügbar und liefern schnell
                        und zuverlässig zu einem überzeugenden Preis-Leistungs-Verhältnis.
                    </p>
                </section>
                <section class="col-xs-6">
                    <article class="col-xs-4 site-map">
                        <strong>Links</strong>
                        <p> <a class="js-scroll-trigger" href="#home">Home</a></p>
                        <p> <a class="js-scroll-trigger" href="#aboutus">Über Uns</a></p>
                        <p> <a class="js-scroll-trigger" href="#websites">Unsere Webseiten</a></p>
                        @*<p> <a class="js-scroll-trigger" href="#team">Team</a></p>*@
                        <p> <a class="js-scroll-trigger" href="#contactus">Kontakt</a></p>
                    </article>
                    <article class="col-xs-4 contact-info">
                        <strong>Kontakt</strong>
                        <p>grussfabrik.ch AG</p>
                        <p>Talacker 50</p>
                        <p>8001 Zürich </p>
                        <p>Schweiz</p>
                        <div class="contact-hl">
                            <p>+41 44 522 04 36</p>
                            <p>info@grussfabrik.ch</p>
                        </div>
                    </article>
                </section>
            </div>
            <section class="copyright">
                <aside class="footer-logo pull-left">
                    <img src="~/Content/Images/logo.png" />
                </aside>
                <aside class="pull-right">
                    <p class="copyright-content">© 2017-2018 Grussfabrik.ch. All Rights Reserved.</p>
                </aside>
            </section>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/popper/popper.min.js")
    @Scripts.Render("~/Scripts/jquery-easing/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/jquery-easing/jquery.easing.compatibility.js")
    @Scripts.Render("~/Scripts/scrolling-nav.js")
    @RenderSection("scripts", required: false)
</body>
</html>
